<div id="portfolioSheetWrapper">

    <header id="project">
        <div class="container">
         <div class="row">
          <div class="col-md-10">
              <h1>Galería</h1>
              <h2>{{ obra }}</h2>
        </div>
        <div class="col-md-2">
            <a href="javascript:$.pageslide.close()" class="btn pull-right"><i class="icon-cancel-outline"></i>Cerrar</a>

        </div>
    </div>
</div>
</header>


<section class="content">

    <section class="mb15">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="portfolio-carousel" class="owl-carousel">
                        {% for imagen in obra.imagenobra_set.all %}
                            <img src="{{ imagen.imagen.url }}" alt="" class="img-responsive"/>
                        {% endfor %}
                    </div>
                    <div id="shareme" data-url="http://www.ñeque.cl" data-text="Viste la página de Ñeque? "> </div>
                </div>
            </div>
        </div>
    </section>

</section>

<footer>
    <div class="container">
    	<div class="row">
            <div class="col-md-2 col-md-offset-10">
                <a href="javascript:$.pageslide.close()" class="btn pull-right"><i class="icon-cancel-outline"></i>Cerrar</a>

            </div>
        </div>
    </div>
</footer>

</div>
<script type="text/javascript">
   /*
    |--------------------------------------------------------------------------
    | OWL CAROUSEL
    |--------------------------------------------------------------------------
    */
    if($('#portfolio-carousel').length){ 
        $("#portfolio-carousel").owlCarousel(
            {items : 1, navigation:true,navigationText:false}
            );
    }
    

    /*
    |--------------------------------------------------------------------------
    | SHARRRE
    |--------------------------------------------------------------------------
    */
    if($('#shareme').length){


        $('#shareme').sharrre({

            share: {
                googlePlus: true,
                facebook: true,
                twitter: true,
                linkedin: true
            },

            buttons: {
                googlePlus: {size: 'tall', annotation:'bubble'},
                facebook: {layout: 'box_count'},
                twitter: {count: 'vertical'},
                linkedin: {counter: 'top'}
            },

            enableHover: false,
            enableCounter: false,
            enableTracking: true,
          //url:'document.location.href'
      });
    } 

    </script>